<h1 class = "productsH1">Products</h1>
<div class = "productList">
<% for(let product of products) { %>
  <center>
  <div class = "product">
    <h2><%= product.product_name %></h2>
    <img class = "prodImg" src = <%= product.image %></>
    <p><%= product.description %></p>
    <p><%= product.category_ID.category_name %></p>
    <p>$<%= product.price %></p>
  </div>
</center>
<% }; %>
</div></div>