<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Newfie Nook</title>
  <link rel="stylesheet" href="/styles/index.css">
</head>
    <%- include('./partials/header.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="edit content">
            <form action="/logins/<%= customer.theId %>?_method=PATCH" method="POST">
                <label>Edit Login Fields:</br>
                    <input type="text" name="username" value="<%= customer.username %>" required>
                    <input type="text" name="password" value="<%= customer.password %>" required>
                    <input type="text" name="email" value="<%= customer.email %>" required>
                </label></br>
                <button>PATCH</button>
            </form>
        </div>
    </body>
    <%- include('./partials/footer.ejs') %>
</html>